<style type="text/css">
    ul {
        list-style: none;
    }





    .overview {
        width: 100%;
        background: #912400;
        margin-top: 15px;
    }

    .overview_list {
        margin-bottom: 0;
    }

        .overview_list li {
            display: inline-block;
        }

            .overview_list li a {
                display: inline-block;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: .1em;
                text-decoration: none;
                padding: 19px 0px 16px 20px;
                font-weight: bold;
                font-size: 15px;
                cursor: pointer;
            }

                .overview_list li a:hover {
                    color: #808080;
                }

    .tbl_Content {
        color: #787878;
        padding-left: 23px;
        font-size: 20px;
        font-weight: bold;
    }

    .bassic_element {
        color: #ff8000;
        padding-left: 1px;
        font-size: 15px;
    }

    .banglore {
        border: 1px solid #bbb;
    }

    .bio_zone {
        color: #63a2a6;
        font-weight: 500;
        border-bottom: 1px solid #bbb;
    }

    .usa_main {
        width: 100%;
    }

    .bio_grap_zone {
        width: 100%;
        border-bottom: 1px solid #bbb;
    }

        .bio_grap_zone p {
            line-height: 6px;
            font-size: 12px;
            color: #787878;
            text-align: left;
            padding-left: 60px;
            vertical-align: middle !important;
            margin-top: 11px;
        }

    .usaban {
        margin-top: 31px;
    }

        .usaban p {
            font-size: 14px;
            color: #787878;
            text-align: left;
            padding-left: 70px;
            margin-top: 23px;
        }

            .usaban p hover {
                color: #ffffff;
            }

    .lang {
        float: right;
    }

    .imgres .img-responsive {
        margin: 0 auto;
    }
</style>



<div class="row">
    <div class="col-sm-12 col-xs-12 overview">
        <ul class="overview_list">
            <li><a herf="#">Overview</a></li>
            <li><a herf="#">Details</a></li>
            <li><a herf="#">MultiMedia</a></li>
            <li><a herf="#">Map</a></li>
            <li><a herf="#">Name</a></li>
            <li><a herf="#">Resources</a></li>
            <li><a herf="#">Acient knowledge</a></li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-sm-3">
        <div class="lt-cnt" style="background:#eee; text-align: center; padding-top: 10px; margin-top: 20px;">

            <div class="col-sm-12 col-xs-12">
                <div class="imgres">
                    <img src="~/Content/images/ibinImages/map-over.jpg" class="img-responsive center" />
                    <h5>Punica granatum</h5>
                </div>
            </div>
            <ul class="tbl_Content">
                <li>Table of Contents </li>
                <ul>
                    <li class="bassic_element">
                        Base Elements
                        <ul>

                            <li class="bio_zone">
                                <a href="#1">Biogeographic Zone </a>
                            </li>

                            <li class="bio_zone">
                                <a href="#2">References </a>
                            </li>

                            <li class="bio_zone">
                                <a href="#3">Medicinal Parts</a>
                            </li>
                        </ul>
                    </li>
                </ul>



                <ul>
                    <li class="bassic_element">
                        Description
                        <ul>

                            <li class="bio_zone">
                                <a href="#1">Biogeographic Zone </a>
                            </li>

                            <li class="bio_zone">
                                <a href="#2">References </a>
                            </li>

                            <li class="bio_zone">
                                <a href="#">Medicinal Parts</a>
                            </li>
                        </ul>
                    </li>
                </ul>



                <ul>
                    <li class="bassic_element">
                        Habitat Location Distribution
                        <ul>

                            <li class="bio_zone">
                                <a href="#1">Biogeographic Zone </a>
                            </li>

                            <li class="bio_zone">
                                <a href="#2">References </a>
                            </li>

                            <li class="bio_zone">
                                <a href="#">Medicinal Parts</a>
                            </li>
                        </ul>
                    </li>
                </ul>


            </ul>
        </div>
    </div>



    <div class="col-sm-9">
        <div class="abc1" id="1">


            <h2 style="background:#AD5031; padding:1px 5px; color: #ffffff; border-radius: 5px;">Base Elements</h2>
            <h3>Biogeographic Zone </h3>

            <div class="row banglore">
                <div class="col-sm-12 bio_grap_zone">

                    <a href="#" style="float:right;">Top</a>
                    <p>Bangalore</p>
                    <p>Bombay</p>
                    <p>Himalayas</p>
                    <p>Kameng</p>
                    <p>Kanpur</p>
                    <p>North-Western Himalaya</p>

                </div>

                <div class="row">



                    <div class="col-sm-6">

                        <div class="usaban">

                            <p style="text-decoration: underline; cursor: pointer"><a herf="#">USA, Bengaluru</a></p>
                            <a herf="#">
                                <img src="~/Content/images/index.png" style="margin-left: 70px;">
                            </a>
                        </div>

                    </div>

                    <div class="col-sm-6">

                        <div class="usaban">
                            <p>Language: English </p>
                            <p>Submission Date :2012-11-01</p>
                        </div>






                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="usaban" style="border-top: 1px solid #bbb; ">
                            <p>Article rating from 0 people </p>
                            <p>comment on or rate this article</p>
                        </div>
                    </div>


                </div>
            </div>


        </div>






        <!--    <div class="abc1" id="2">
                <a href="#">Top</a>
                kkkl kljcxkjlkljdkldlkdlk; ll
         </div>-->




        <div class="abc1" id="2">



            <h3>References </h3>

            <div class="row banglore">
                <div class="col-sm-12 bio_grap_zone">

                    <a href="#" style="float:right;">Top</a>
                    <p>Bangalore</p>
                    <p>Bombay</p>
                    <p>Himalayas</p>
                    <p>Kameng</p>
                    <p>Kanpur</p>
                    <p>North-Western Himalaya</p>

                </div>

                <div class="row">



                    <div class="col-sm-6">

                        <div class="usaban">

                            <p style="text-decoration: underline; cursor: pointer"><a herf="#">USA, Bengaluru</a></p>
                            <a herf="#">
                                <img src="~/Content/images/index.png" style="margin-left: 70px;">
                            </a>
                        </div>

                    </div>

                    <div class="col-sm-6">

                        <div class="usaban">
                            <p>Language: English </p>
                            <p>Submission Date :2012-11-01</p>
                        </div>






                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="usaban" style="border-top: 1px solid #bbb; ">
                            <p>Article rating from 0 people </p>
                            <p>comment on or rate this article</p>
                        </div>
                    </div>


                </div>
            </div>


        </div>

        <div class="abc1" id="3">


            <h2 style="background:#AD5031; padding:10px 5px; color:#ffffff; border-radius: 5px; ">Description</h2>
            <h3>References </h3>

            <div class="row banglore">
                <div class="col-sm-12 bio_grap_zone">

                    <a href="#" style="float:right;">Top</a>
                    <p>Bangalore</p>
                    <p>Bombay</p>
                    <p>Himalayas</p>
                    <p>Kameng</p>
                    <p>Kanpur</p>
                    <p>North-Western Himalaya</p>

                </div>

                <div class="row">



                    <div class="col-sm-6">

                        <div class="usaban">

                            <p style="text-decoration: underline; cursor: pointer"><a herf="#">USA, Bengaluru</a></p>
                            <a herf="#">
                                <img src="~/Content/images/index.png" style="margin-left: 70px;">
                            </a>
                        </div>

                    </div>

                    <div class="col-sm-6">

                        <div class="usaban">
                            <p>Language: English </p>
                            <p>Submission Date :2012-11-01</p>
                        </div>






                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="usaban" style="border-top: 1px solid #bbb; ">
                            <p>Article rating from 0 people </p>
                            <p>comment on or rate this article</p>
                        </div>
                    </div>


                </div>
            </div>


        </div>




        <!--    <div class="abc1" id="2">
                <a href="#">Top</a>
                kkkl kljcxkjlkljdkldlkdlk; ll
         </div>-->
    </div>





</div>

