
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="middle_contains_" style="float: right; margin-top:17px; margin-right:57px;">
    <select id="categorytype">
        <option value="Species">Species</option>
        <option value="Chemical">Chemicals</option>
        <option>Maps</option>
        <option>Checklists</option>
        <option>Field Guides</option>
        <option>Uses</option>
    </select>
</div>
<div id="listcontainer" >
</div>

<script>
    $(document).ready(function () {
        function Refresh()
        {
            $("#categorytype").trigger("change");
        }

        $("#categorytype").change(function () {
            if($(this).val()=="Species")
            {
                GetSpecies();
            }
            if($(this).val()=="Chemical")
            {
                GetChemical();
            }
        });
        
        if ('@TempData["catergoryType"]' != '') {
            $("#categorytype").val('@TempData["catergoryType"]')
        }
        
        Refresh();

        
    });

    $(document).on('click', '.chkBox', function () {



    });

    function GetSpecies() {
        $.ajax({
            type: "GET",
            url: $_Species,
            //data: request,
            success: function (resultdata) {
                $("#listcontainer").html(resultdata);
            }
        });
    }

    function GetChemical() {
        $.ajax({
            type: "GET",
            url: $_Chemical,
            //data: request,
            success: function (resultdata) {
                $("#listcontainer").html(resultdata);
            }
        });
    }
</script>


